/* Basic */
body{margin: 0;padding: 0;font-family: 'Ubuntu';overflow-x: hidden}
/* Theme */
.container > div
{
  width: 100%;
  padding: 0;
  display: inline-block;
}
.overlay
{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: .8;
}
.box
{
  text-align: center;
  color: #fff;
}
.box span
{
  display:  block;
  font-size: 40px;
  margin-bottom: 30px
}
button
{
  display: block;
  margin: auto;
  margin-top: 30px;
  background: none;
  border: none;
  font-size: 25px;
  padding: 10px 70px;
  border: 3px solid #fff;
  color: #fff;
  border-radius: 30px;
}
button:hover
{
  background-color: #fff;
}
.one{background-image: url(../B1.jpg)}
.two{background-image: url(../B2.png)}
.three{background-image: url(../B3.jpg)}
.four{background-image: url(../B4.jpg)}
.overlay-one{background-color: #44b2e7}
.overlay-two{background-color: #ff8a25}
.overlay-three{background-color: #858585}
.overlay-four{background-color: #f77674}
.one button:hover{color: #44b2e7}
.two button:hover{color: #ff8a25}
.three button:hover{color: #858585}
.four button:hover{color: #f77674}

@media (max-width : 960px)
{
  
}
